<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }} | (Tonbridge Bicycle Users Group</title>
  <link href="/css/main.css"
        rel="stylesheet">
  <meta charset="utf-8">
  <meta content="ie=edge"
        http-equiv="x-ua-compatible">
  <meta content="width=device-width, initial-scale=1"
        name="viewport">
  <meta content="nofollow"
        name="robots">
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700"
        rel="stylesheet"><!-- Favicons -->
  <link href="/img/apple-touch-icon.png"
        rel="apple-touch-icon"
        sizes="180x180">
  <link href="/img/favicon-32x32.png"
        rel="icon"
        sizes="32x32"
        type="image/png">
  <link href="/img/favicon-16x16.png"
        rel="icon"
        sizes="16x16"
        type="image/png">
  <link href="/manifest.json"
        rel="manifest">
  <link color="#ff4400"
        href="/img/safari-pinned-tab.svg"
        rel="mask-icon">
  <meta content="#fff"
        name="theme-color"><!-- Open Graph -->
  <meta content="business.business"
        property="og:type">
  <meta content="(Tonbridge Bicycle Users Group"
        property="og:title">
  <meta content="/"
        property="og:url">
  <meta content="/img/og-image.jpg"
        property="og:image">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
</body>
</html>
